<nz-layout>
  <nz-sider style="background:#fff;">
    <ul nz-menu [nzMode]="'vertical'">
      <li nz-menu-item *ngFor="let acctType of acctTypeList" (click)="getAccountsByType(acctType.key)">{{acctType.value}}</li>
    </ul>
  </nz-sider>
  <nz-layout style="background:#fff;overflow:auto">
    <div>
      <div nz-row style="padding:0 24px 24px;">
        <div nz-col>
          <button nz-button>
            <span>Create</span>
          </button>
          <button nz-button>
            <span>Modify</span>
          </button>
          <button nz-button>
            <span>Delete</span>
          </button>
        </div>
      </div>
      <nz-table [nzData]="accounts" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>
              <span>Name</span>
            </th>
            <th>
              <span>Status</span>
            </th>
            <th>
              <span>Balance</span>
            </th>
            <th>
              <span>Remark</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts" style="height:30px" (click)="selectAcct(account)">
            <td>{{account.name}}</td>
            <td>{{account.status}}</td>
            <td>{{account.balance}}</td>
            <td>{{account.remark}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngIf="acctDetail">
      <div style="padding:24px 0;">
        <span>Account Detail</span>
      </div>
      <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="2" ngFor="Name">Name</nz-form-label>
            <nz-form-control [nzSpan]="6">
              <input nz-input [(ngModel)]="acctDetail.name" placeholder="Name" id="Name" [ngModelOptions]="{standalone: true}">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzSpan]="2" ngFor="Status">Status</nz-form-label>
              <nz-form-control [nzSpan]="6">
                <nz-select [(ngModel)]="acctDetail.status" [ngModelOptions]="{standalone: true}" [nzPlaceHolder]="'choose option'">
                  <nz-option *ngFor="let acctStatus of acctStatusList" [nzLabel]="acctStatus.value" [nzValue]="acctStatus.key">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="2" ngFor="Remark">Remark</nz-form-label>
              <nz-form-control [nzSpan]="6">
                <textarea nz-input [(ngModel)]="acctDetail.remark" nzPlaceHolder="Remark" [ngModelOptions]="{standalone: true}">
                  </textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary">Save</button>
                  <button nz-button>Cancel</button>
                </nz-form-control>
              </nz-form-item>
        </form>
    </div>
  </nz-layout>
</nz-layout>